
.jumbotron{
	background-image: url('cherry-blossoms.jpg');
	background-size: cover;
	text-align: center;
    height: 100vh;
}

h1.main-heading {
    color: white;
    font-size: 12vw;
    text-shadow: 5px 5px 20px #a24;
}
h2.main-subheading {
   color: white;
   font-size: 6vw;
text-shadow: 4px 4px 12px #363;
}


h3{
	color: green;
	font-family: Helvetica;
	font-size: 24px
}
table{
	background-color: teal;
}

#social-buttons button {

color: white;
}

.btn-twitter {

background-color: #00acee;

border-color: #009ad5;

}

.btn-facebook {

background-color: #4868ac;

border-color: #314776;

}

.btn-pinterest {

background-color: #b62f26;

border-color: #b62f26;

}